<h2 class="text-right">{{ 'All'|trans }}: {{ all }}</h2>

{% for player in list %}

    {% if player.personaState == constant('AppBundle\\Model\\SteamPlayer::STATE_OFFLINE') %}
        {% set color = 'danger' %}
        {% set icon = 'radio_button_unchecked' %}
    {% elseif player.personaState == constant('AppBundle\\Model\\SteamPlayer::STATE_ONLINE') %}
        {% set color = 'success' %}
        {% set icon = 'radio_button_checked' %}
    {% else %}
        {% set color = 'warning' %}
        {% set icon = 'radio_button_checked' %}
    {% endif %}

    <div class="card-body shadow-in-block">
        <a href="{{ path('steam_player', {'steamId': player.steamId}) }}" class="w-100"
           title="{{ 'View profile'|trans }}">
            <div class="d-inline">
                <img class="img d-inline mr-3 border border-3 border-{{ color }}" src="{{ player.avatarMedium }}" alt="{{ player.personaName }}" />
            </div>
            <h4 class="d-inline">{{ player.personaName }}</h4>
            <div class="d-inline text-right position-absolute" style="right:10px;">
                <img src="https://steamcommunity-a.akamaihd.net/public/images/countryflags/{{ player.locCountryCode|lower }}.gif"
                         alt="{{ player.locCountryCode|lower }}"/>
                <span class="d-block text-{{ color }}">{{ icon(icon, 'small align-baseline') }} {{ playerStatus(player.personaState) }}</span>
                {% if player.personaState == constant('AppBundle\\Model\\SteamPlayer::STATE_OFFLINE') %}
                    <span class="d-block small text-gray">{{ 'Last online'|trans }}: {{ player.lastLogOff|date("d.m.Y H:i:s") }}</span>
                {% endif %}
            </div>
        </a>
    </div>

{% endfor %}
